@font-face {
  font-family: 'Gliker';
  src: url('./assets/fonts/Gliker-RegularCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #77af29;
  --color-secondary: #252525;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #f1f3f6;
}

.font-gliker {
  font-family: "Gliker", sans-serif;
}

button{
  cursor: pointer;
}

td{
  cursor: pointer;
}