@font-face {
  font-family: 'Gliker';
  src: url('./assets/fonts/Gliker-RegularCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #77af29;
  --color-secondary: #252525;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f3f6;
}

.font-gliker {
  font-family: "Gliker", sans-serif;
}

button{
  cursor: pointer;
}

td{
  cursor: pointer;
}